{
  "plugins": [
    "relay"
  ],
  "presets": [
    ["@babel/preset-react", {
      "runtime": "automatic"
    }],
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
